/* Our CSS file. */


.container{
    width: 100%;
    height:auto;
    margin: 10px;
    background-color: rgb(220, 215, 215);
    }
    .row{
        display: block;
        width:90%;
        height: 300px;
        margin: 10px;
    }
    .col{
        display:block;
        width:45%;
        height:inherit;
        margin: 10px;
        float:left;
       
    }
    